@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: $primary-font;
  color: $color-black;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

@import "components/grid";

/**
 * temp
 * 
 */

.main {
  padding-bottom: 200px;
}
